n16_narrative_chaining/🍳 Veo3 - Narrative Chaining (n16).json
{
  "name": "🍳 Veo3 - Narrative Chaining (n16)",
  "nodes": [
    {
      "parameters": {
        "content": "## Step 3: Get last frame  ",
        "height": 96,
        "width": 496,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1488,
        416
      ],
      "id": "7f79d177-0897-4af5-a1f4-3114b85c5745",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "## Step 1: Analyze preceding vid",
        "height": 96,
        "width": 368,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1488,
        160
      ],
      "id": "be54ec7a-08f0-4747-a0cc-1c72e7381820",
      "name": "Sticky Note12"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        -2112,
        688
      ],
      "id": "b9ac93c8-9723-4001-a695-b203ec3b2b86",
      "name": "Think"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2208,
        688
      ],
      "id": "6fd99fd2-13af-4471-83c0-47910bc28b90",
      "name": "GPT",
      "credentials": {
        "openAiApi": {
          "id": "zDZ32auFKuRIohXt",
          "name": "OpenAi account 5"
        }
      }
    },
    {
      "parameters": {
        "content": "## Step 2: Make next prompt  ",
        "height": 96,
        "width": 480,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1536,
        288
      ],
      "id": "393d075e-0fe1-4078-91ea-21eb860f8be8",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/video-understanding",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_url\": \"{{ $json.mediaURL }}\",\n  \"prompt\": \"What is happening in this video? At the very top, include a Heading 1 Section describing what happens at the last frame of the video. Make sure to describe the music, the camera being used, the camera movement, the dialogue if any, what their accent is, and a description of the characters. \",\n  \"detailed_analysis\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1824,
        160
      ],
      "id": "86946b64-e365-4b98-9cda-62aa24455bf2",
      "name": "Analyze Video",
      "credentials": {
        "httpCustomAuth": {
          "id": "6yzgNwUoP2cfT1ov",
          "name": "ElevenLabs account"
        },
        "httpHeaderAuth": {
          "id": "8us2N7EU77ApbiYP",
          "name": "Fal AI Credential"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.response_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1600,
        160
      ],
      "id": "38abffec-514d-436c-9530-e224d9d9292d",
      "name": "Get Analysis",
      "credentials": {
        "httpHeaderAuth": {
          "id": "fLJXjcjJjHekzjid",
          "name": "Fal AI Credential - r33"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "845af529-04e4-4a77-ad42-c2a3025148da",
              "name": "step",
              "value": "={{ $json.step }}",
              "type": "number"
            },
            {
              "id": "e1c5b7af-8520-45c6-a1e7-da832f711b0f",
              "name": "complete",
              "value": "={{ $json.complete }}",
              "type": "number"
            },
            {
              "id": "f4f5df61-7c8b-4813-a52b-3a22e69c0dda",
              "name": "mediaURL",
              "value": "={{ $json.videoURL }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2208,
        160
      ],
      "id": "8cf1218b-feeb-4b1d-b5ef-9f1cc3aefa5a",
      "name": "Looper"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4c895d90-e8bd-42cf-ab58-511c85e8c782",
              "leftValue": "={{ $json.data.successFlag }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1488,
        544
      ],
      "id": "bfdd3026-a01d-44d5-9848-2f73cdd89432",
      "name": "If "
    },
    {
      "parameters": {
        "content": "## Step 4: Generate next scene  ",
        "height": 96,
        "width": 432,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1360,
        544
      ],
      "id": "237be5d5-04f0-4401-b6a6-45b877b98c1b",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "content": "## Step 5: Add scene & increment step  ",
        "height": 96,
        "width": 496,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1360,
        672
      ],
      "id": "3bc302a5-9458-4b5a-a75e-d7d967ead3ef",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/ffmpeg-api/merge-videos",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_urls\": [\"{{ $('Initial Values').item.json.videoURL }}\",{{ $json.sceneURL.map(url => `\"${url}\"`)  }}]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1104,
        768
      ],
      "id": "26bcf311-24c2-4256-bf8a-9c14a46c0002",
      "name": "Combine Clips",
      "credentials": {
        "httpHeaderAuth": {
          "id": "8us2N7EU77ApbiYP",
          "name": "Fal AI Credential"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Combine Clips').first().json.response_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -880,
        768
      ],
      "id": "bf022f60-ee04-41c8-933c-98e9885d56c8",
      "name": "Get Final Video",
      "credentials": {
        "httpHeaderAuth": {
          "id": "8us2N7EU77ApbiYP",
          "name": "Fal AI Credential"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "sceneURL"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1216,
        768
      ],
      "id": "9a82a21e-e009-4727-8695-d4b0f2cb1472",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1x65wzvPcZAahQsegZ8h99Qh3boI5xRNymx-gtlE9QEU",
          "mode": "list",
          "cachedResultName": "Veo3 - Narrative Chaining",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1x65wzvPcZAahQsegZ8h99Qh3boI5xRNymx-gtlE9QEU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1x65wzvPcZAahQsegZ8h99Qh3boI5xRNymx-gtlE9QEU/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "for production"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2640,
        160
      ],
      "id": "20cb0d6e-4fb7-4fb0-a8fe-d0263f440db6",
      "name": "Get input",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WmDBwEhcrLeG9D67",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "845af529-04e4-4a77-ad42-c2a3025148da",
              "name": "step",
              "value": "=1",
              "type": "number"
            },
            {
              "id": "e1c5b7af-8520-45c6-a1e7-da832f711b0f",
              "name": "complete",
              "value": "={{ $json['clips to add'] }}",
              "type": "number"
            },
            {
              "id": "f4f5df61-7c8b-4813-a52b-3a22e69c0dda",
              "name": "videoURL",
              "value": "={{ $json.videoURL }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2416,
        160
      ],
      "id": "f5c9511a-c51b-4027-b790-d49ec608724c",
      "name": "Initial Values"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/ffmpeg-api/extract-frame",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_url\": \"{{ $('Looper').item.json.mediaURL }}\",\n  \"frame_type\": \"last\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1824,
        416
      ],
      "id": "51f8e7f0-3d27-45f7-acfa-edc5f79b48a9",
      "name": "Request last",
      "credentials": {
        "httpCustomAuth": {
          "id": "6yzgNwUoP2cfT1ov",
          "name": "ElevenLabs account"
        },
        "httpHeaderAuth": {
          "id": "8us2N7EU77ApbiYP",
          "name": "Fal AI Credential"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.response_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1600,
        416
      ],
      "id": "f73f29c8-c831-41ca-889c-876ceef298b8",
      "name": "Get last",
      "credentials": {
        "httpHeaderAuth": {
          "id": "fLJXjcjJjHekzjid",
          "name": "Fal AI Credential - r33"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.kie.ai/api/v1/veo/record-info",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $('Create Video').item.json.data.taskId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1600,
        544
      ],
      "id": "ab63e0ae-33a6-4e53-98e1-2edc4c8bcbe1",
      "name": "Get Video",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GY8EwBg1KMzSwh9X",
          "name": "Kie AI Credential"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/veo/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"prompt\":\"{{ $('ExtendRobo AI Agent').item.json.output.video_prompt.replace(/\\n/g, '\\\\n').replace(/\"/g, '\\\\\"') }}\",\n  \"model\": \"{{ $('ExtendRobo AI Agent').item.json.output.model }}\",\n  \"aspectRatio\": \"{{ $('ExtendRobo AI Agent').item.json.output.aspect_ratio_video }}\",\n  \"imageUrls\": \"{{ $json.images[0].url }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1824,
        544
      ],
      "id": "445af66c-e56c-4637-9863-dff45e631c73",
      "name": "Create Video",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GY8EwBg1KMzSwh9X",
          "name": "Kie AI Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1x65wzvPcZAahQsegZ8h99Qh3boI5xRNymx-gtlE9QEU",
          "mode": "list",
          "cachedResultName": "Veo3 - Narrative Chaining",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1x65wzvPcZAahQsegZ8h99Qh3boI5xRNymx-gtlE9QEU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 423194450,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1x65wzvPcZAahQsegZ8h99Qh3boI5xRNymx-gtlE9QEU/edit#gid=423194450"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "scene": "={{ $('Looper').item.json.step }}",
            "sceneURL": "={{ $json.data.response.resultUrls[0] }}",
            "prompt": "={{ $('ExtendRobo AI Agent').item.json.output.video_prompt }}",
            "row_number": 0
          },
          "matchingColumns": [
            "scene"
          ],
          "schema": [
            {
              "id": "scene",
              "displayName": "scene",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sceneURL",
              "displayName": "sceneURL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -1712,
        672
      ],
      "id": "f71a613d-c7dc-4e7b-a110-a7e54ff77ac6",
      "name": "Add scene",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WmDBwEhcrLeG9D67",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "845af529-04e4-4a77-ad42-c2a3025148da",
              "name": "step",
              "value": "={{ $('Looper').first().json.step + 1}}",
              "type": "number"
            },
            {
              "id": "e1c5b7af-8520-45c6-a1e7-da832f711b0f",
              "name": "complete",
              "value": "={{ $('Looper').first().json.complete }}",
              "type": "number"
            },
            {
              "id": "7486f15a-a92c-46c1-a77f-375c970e3c77",
              "name": "videoURL",
              "value": "={{ $json.sceneURL }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1600,
        672
      ],
      "id": "368fe18d-b126-42ef-9e4c-d91b306cb05a",
      "name": "Increment step"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "a4b84c6a-c477-4929-a527-c70201b829d4",
              "leftValue": "={{ $json.complete }}",
              "rightValue": "={{ $json.step }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1488,
        672
      ],
      "id": "9b0b9565-99d5-42ed-bad5-1fdeccd4ddb1",
      "name": "If complete"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Your task: Create a video prompt as guided by your system guidelines.\n\nYou are about to create the video prompt for Scene {{ $('Looper').first().json.step }}, out of a total of {{ $('Looper').first().json.complete }} scenes\n\n\n***\nThe user's preferred narrative theme (if any): {{ $('Get input').first().json['narrative theme'] }}\n\nThe user's preferred aspect ratio: {{ $('Get input').first().json['aspect ratio'] }}\n\nThe user's preferred model: {{ $('Get input').first().json.model }}\n\nAny special requests by the user: {{ $('Get input').first().json['any special requests'] }}\n\n***\nUse the Think tool to double check your output\n\n\n***\n\n\nHere's what happens in the preceding video \n{{ $json.output }}\n\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=system_prompt: |\n  ## SYSTEM PROMPT: Scene Continuation Prompt Generator (Video-Only, General Use)\n\n  You are a scene continuation AI agent.  \n  Your task: Take the preceding video description and generate the scene, following user intent, style, and narrative progression. Make sure to generate the prompt with the ending seconds of the previous scene in mind.\n\n  A – Ask:\n    Generate **only video generation instructions** for AI models (no image prompts). Infer aspect ratios from vertical/horizontal context; default to vertical if unspecified.\n\n\n  G – Guidance:\n\n    - Make sure you consider consistency with the music style, camera, camera movement, and other elements from the previous scene when generating the prompt\n    - If the user describes what happens per scene, make sure you just follow the instructions specific to this scene you are ideating for\n    - Focus the prompt to consider what happens in the very last frame as described in the video\n    - Always define the type of camera being used (example: Canon EOS, Gopro, iphone). and camera movement (be consistent with previous scene)\n    - The actions defined in the scene are always simple. Avoid overly complex action prompts. Max of 250 characters for the action.\n    - ALways describe the music if preceding scene has music\n    - ALways describe the dialogue if preceding scene has dialogue (make sure accent of person is the same)\n    - The video prompt is ALWAYS in stringified YAML format. Suggest the element parameters based on the user request\n    - Avoid mentioning any copyrighted character, persons, or brands in the prompt. Just describe them if needed\n    - Avoid terms in the prompt that may trigger a content policy flag. Like child, childlike, minor, young person, girl, boy, 14 year old, and so on. Instead of using those terms, just say \"character\".\n    - Avoid including prompts with text overlays or subtitles. \n    - Align each new scene with the progression of the previous video.\n    - Follow any user-supplied dialogue, action requests, or performance details.\n    - Use consistent characters, camera style, and tone when applicable.\n    - Never use double quotes in prompts.\n\"notes\": [\n    \"- Aspect ratio can only be 9:16 or 16:9\",\n    \"- Model can only be veo3_fast or veo3\"\n\n  E – Examples:\n    🟢 good_examples:\n      - |\n       {\n  \"scenes\": [\n    {\n      \"video_prompt\": \"prompt in yaml format based on previous video and user request\",\n      \"aspect_ratio_video\": \"[choose: 9:16, 16:9]\",\n      \"model\": \"[choose: veo3_fast, veo3]\"\n    }\n  ]\n}\n\n\n  N – Notation:\n    format: JSON\n    example_output: |\n      {\n        \"scenes\": [\n          {\n            \"video_prompt\": \"dialogue: [text]\\naction: [text]\\ncamera: [text]\\nemotion: [text]\\ntype: [model]\",\n            \"aspect_ratio_video\": \"9:16\",\n            \"model\": \"veo3_fast\"\n          }\n        ]\n      }\n\n  T – Tools:\n    - Think Tool: Use this to check continuity from the previous scene, alignment with user intent, realism or stylization as needed, and that the output count matches exactly.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -1776,
        288
      ],
      "id": "d8fe907b-fbda-4705-9e52-4aa06409dd9c",
      "name": "ExtendRobo AI Agent"
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1712,
        544
      ],
      "id": "356f36e5-5bf5-4e57-84cf-1d4edf8ba76b",
      "name": "Wait 2",
      "webhookId": "cf23022b-1ab8-42a0-aa2e-e1ad33b4aeb6"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1712,
        416
      ],
      "id": "97c6b36f-1a17-4133-bfef-af6dc7320375",
      "name": "Wait 1",
      "webhookId": "0c593731-cba8-4727-ada7-c1994b8b241f"
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1712,
        160
      ],
      "id": "c009634e-3be7-44d6-827c-67093ab707ba",
      "name": "Wait ",
      "webhookId": "0c593731-cba8-4727-ada7-c1994b8b241f"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1x65wzvPcZAahQsegZ8h99Qh3boI5xRNymx-gtlE9QEU",
          "mode": "list",
          "cachedResultName": "Veo3 - Narrative Chaining",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1x65wzvPcZAahQsegZ8h99Qh3boI5xRNymx-gtlE9QEU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 423194450,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1x65wzvPcZAahQsegZ8h99Qh3boI5xRNymx-gtlE9QEU/edit#gid=423194450"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "C:C"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1328,
        768
      ],
      "id": "f7bf8e21-7a66-4380-8fbc-f7c0a483bc88",
      "name": "Get scenes",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WmDBwEhcrLeG9D67",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -992,
        768
      ],
      "id": "9bba751f-4dfb-4dd5-a16f-3d1881e55922",
      "name": "Wait 3",
      "webhookId": "16d20188-f627-47eb-88d2-383ddc68b0c2"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1x65wzvPcZAahQsegZ8h99Qh3boI5xRNymx-gtlE9QEU",
          "mode": "list",
          "cachedResultName": "Veo3 - Narrative Chaining",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1x65wzvPcZAahQsegZ8h99Qh3boI5xRNymx-gtlE9QEU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1x65wzvPcZAahQsegZ8h99Qh3boI5xRNymx-gtlE9QEU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": 0,
            "status": "done",
            "outputURL": "={{ $json.video.url }}",
            "id": "={{ $('Get input').item.json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "videoURL",
              "displayName": "videoURL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "clips to add",
              "displayName": "clips to add",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "aspect ratio",
              "displayName": "aspect ratio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "narrative theme",
              "displayName": "narrative theme",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "model",
              "displayName": "model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "any special requests",
              "displayName": "any special requests",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "outputURL",
              "displayName": "outputURL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -768,
        768
      ],
      "id": "b96b731a-6ea6-47c2-beef-73874b75ee30",
      "name": "Update log",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WmDBwEhcrLeG9D67",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"video_prompt\": \"detailed stringified YAML prompt here\",\n  \"aspect_ratio_video\": \"9:16\",\n  \"model\": \"veo3_fast\"\n}\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -2016,
        688
      ],
      "id": "a481c804-d8c1-4d79-8de8-d32dd695240d",
      "name": "Structured Output"
    },
    {
      "parameters": {
        "content": "# ExtendRobo - Veo3 Narrative Chaining (by RoboNuggets 🥚)\n## Author: Jay E | Lesson n15",
        "height": 176,
        "width": 1776,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2784,
        16
      ],
      "id": "2119a8a7-f436-49cb-b8e7-6412e84ef92b",
      "name": "Sticky Note"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2784,
        160
      ],
      "id": "54c0dfea-68bf-4c42-9c85-2f8e0cceb53d",
      "name": "Execute"
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": {
          "__rl": true,
          "value": "1x65wzvPcZAahQsegZ8h99Qh3boI5xRNymx-gtlE9QEU",
          "mode": "list",
          "cachedResultName": "Veo3 - Narrative Chaining",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1x65wzvPcZAahQsegZ8h99Qh3boI5xRNymx-gtlE9QEU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 423194450,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1x65wzvPcZAahQsegZ8h99Qh3boI5xRNymx-gtlE9QEU/edit#gid=423194450"
        },
        "clear": "specificRange",
        "range": "B2:C20"
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2528,
        160
      ],
      "id": "4d4cf175-df43-477a-b433-e9d2ed69383c",
      "name": "Clear scenes",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WmDBwEhcrLeG9D67",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Think": {
      "ai_tool": [
        [
          {
            "node": "ExtendRobo AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GPT": {
      "ai_languageModel": [
        [
          {
            "node": "ExtendRobo AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Video": {
      "main": [
        [
          {
            "node": "Wait ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Analysis": {
      "main": [
        [
          {
            "node": "ExtendRobo AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Looper": {
      "main": [
        [
          {
            "node": "Analyze Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If ": {
      "main": [
        [
          {
            "node": "Add scene",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Clips": {
      "main": [
        [
          {
            "node": "Wait 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Final Video": {
      "main": [
        [
          {
            "node": "Update log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Combine Clips",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get input": {
      "main": [
        [
          {
            "node": "Clear scenes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initial Values": {
      "main": [
        [
          {
            "node": "Looper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request last": {
      "main": [
        [
          {
            "node": "Wait 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get last": {
      "main": [
        [
          {
            "node": "Create Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video": {
      "main": [
        [
          {
            "node": "If ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Video": {
      "main": [
        [
          {
            "node": "Wait 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add scene": {
      "main": [
        [
          {
            "node": "Increment step",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment step": {
      "main": [
        [
          {
            "node": "If complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If complete": {
      "main": [
        [
          {
            "node": "Get scenes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Looper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExtendRobo AI Agent": {
      "main": [
        [
          {
            "node": "Request last",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2": {
      "main": [
        [
          {
            "node": "Get Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 1": {
      "main": [
        [
          {
            "node": "Get last",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait ": {
      "main": [
        [
          {
            "node": "Get Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get scenes": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 3": {
      "main": [
        [
          {
            "node": "Get Final Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output": {
      "ai_outputParser": [
        [
          {
            "node": "ExtendRobo AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Execute": {
      "main": [
        [
          {
            "node": "Get input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update log": {
      "main": [
        []
      ]
    },
    "Clear scenes": {
      "main": [
        [
          {
            "node": "Initial Values",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "38486cbd-5352-44ce-95c7-e178f26e9985",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "addaa68bf5af965c06c3765c811549851eb65db8df4677e0c6253726ffcac493"
  },
  "id": "QY93mKsrTXrheIaa",
  "tags": []
}