R39_split_ai_system/(template) 🥚 Split AI System - by RoboNuggets (R39).json
{
  "name": "(template) 🥚 Split AI System - by RoboNuggets (R39)",
  "nodes": [
    {
      "parameters": {
        "fileName": "={{ $('Get Rows to Create').item.json.index }}_{{ $('Get Rows to Create').item.json.ad_copy }}_{{ $('Nanobanana').item.json.id }}.png",
        "binaryData": true,
        "parentId": "338766741329"
      },
      "type": "n8n-nodes-base.box",
      "typeVersion": 1,
      "position": [
        1072,
        560
      ],
      "id": "914c72c7-036c-4e65-9ec3-1b6907dbd88b",
      "name": "Upload a file",
      "credentials": {
        "boxOAuth2Api": {
          "id": "g94zYSbBNeR9PtGA",
          "name": "Box account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "=base",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        848,
        560
      ],
      "id": "b6258559-4643-4911-9683-0a96fb467528",
      "name": "Convert to File",
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        352,
        144
      ],
      "id": "e3379545-3713-4ed5-aa8a-134e70ad23c4",
      "name": "Telegram Trigger",
      "webhookId": "36aa152d-ead1-4a6e-ad07-0a1705fb9634",
      "credentials": {
        "telegramApi": {
          "id": "CrSrYX7BqnvCGioc",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot{{ $('Set Bot ID').item.json['bot id'] }}/getFile?file_id={{ $('Telegram Trigger').first(0,0).json.message.photo[2].file_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        144
      ],
      "id": "a8cbe61a-a2b8-4543-85e4-d4056fb96fe2",
      "name": "Get Img Path"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "Analyze the given image and determine if it primarily depicts a product or a character, or BOTH.\n\n- If the image is of a product, return the analysis in YAML format with the following fields:\n\nbrand_name: (Name of the brand shown in the image, if visible or inferable)\ncolor_scheme:\n  - hex: (Hex code of each prominent color used)\n    name: (Descriptive name of the color)\nfont_style: (Describe the font family or style used: serif/sans-serif, bold/thin, etc.)\nvisual_description: (A full sentence or two summarizing what is seen in the image, ignoring the background)\n\n- If the image is of a character, return the analysis in YAML format with the following fields:\n\ncharacter_name: (Name of the character if visible or inferable)\ncolor_scheme:\n  - hex: (Hex code of each prominent color used on the character)\n    name: (Descriptive name of the color)\noutfit_style: (Description of clothing style, accessories, or notable features)\nvisual_description: (A full sentence or two summarizing what the character looks like, ignoring the background)\n\nOnly return the YAML. Do not explain or add any other comments.\n\n\n- if it is BOTH, return both descriptions as guided above in YAML format\n",
        "imageUrls": "=https://api.telegram.org/file/bot{{ $('Set Bot ID').item.json['bot id'] }}/{{ $json.result.file_path }}",
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        848,
        144
      ],
      "id": "1c5c83ec-12db-40b1-b6ad-d71d69d5d220",
      "name": "Describe Img",
      "credentials": {
        "openAiApi": {
          "id": "CRXcwVtODws9mTd1",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        1008,
        368
      ],
      "id": "bbda0320-a93a-416a-a2e5-618a0cad369d",
      "name": "Think",
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        896,
        368
      ],
      "id": "7e2f4407-9cfa-437b-a156-1cc33f94c90e",
      "name": "GPT",
      "credentials": {
        "openAiApi": {
          "id": "CRXcwVtODws9mTd1",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "493c3932-bd76-4de4-baee-87ad3590751d",
              "name": "bot id",
              "value": "your bot token here",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        592,
        144
      ],
      "id": "b7a584c7-83ae-49c1-8bcb-91e57e2b3c9d",
      "name": "Set Bot ID"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "Got it! I'm now creating your request 🍳",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1072,
        144
      ],
      "id": "6894ae6b-44fb-4e63-a34f-90c121d0f7fc",
      "name": "Tell User WIP",
      "webhookId": "c8753d4a-e26a-4fbf-9805-39c8aa4fdb75",
      "credentials": {
        "telegramApi": {
          "id": "CrSrYX7BqnvCGioc",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1v2urk2p3OLGwyQU9lasYD9ffbDFQnyp4F1wdUgxPYlc",
          "mode": "list",
          "cachedResultName": "R39 | 100 Ads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1v2urk2p3OLGwyQU9lasYD9ffbDFQnyp4F1wdUgxPYlc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1v2urk2p3OLGwyQU9lasYD9ffbDFQnyp4F1wdUgxPYlc/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "create"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1216,
        144
      ],
      "id": "1951e42e-f0ba-41c5-99c9-59f91f066c2e",
      "name": "Get Rows to Create",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kyZpZ72Pl8dphEXk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"image_prompt\": \"full prompt here with all required elements inline. No line breaks, no extra double quotes\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1120,
        368
      ],
      "id": "e036e129-a18f-4060-9907-1c7f6529ecf9",
      "name": "Structured Output"
    },
    {
      "parameters": {
        "content": "## START: Input Section",
        "height": 96,
        "width": 272,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        32,
        144
      ],
      "id": "073a8e3f-9818-41ac-9dbe-4a5ee0f41452",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## END: Output Section",
        "height": 96,
        "width": 272,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        32,
        560
      ],
      "id": "1cf21027-33f7-4161-9deb-4622b364a6da",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## AGENT: Prompt Splitter",
        "width": 496,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        32,
        320
      ],
      "id": "610ebced-d3c4-4081-b742-8e0132eaf0ef",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# 🍌Nanobanana Split AI System in n8n (by RoboNuggets 🥚)\n## Author: Jay E",
        "width": 1424,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "7f80554c-9980-441f-8ae2-24dfe09c2fd3",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "Done! I've now uploaded those to your files 🥚",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        352,
        560
      ],
      "id": "55aad5f4-3e87-47c9-b701-0ca9012fcd7a",
      "name": "Tell User Done",
      "webhookId": "46da6a71-218a-47d2-8c28-fa87c7593dfe",
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "CrSrYX7BqnvCGioc",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5771289a-c1db-43c0-8648-7859256321de",
              "name": "base",
              "value": "={{$json[\"choices\"][0][\"message\"][\"images\"][0][\"image_url\"][\"url\"].split(\",\")[1]}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        560
      ],
      "id": "6ad1b961-9179-41ac-a4eb-45525e681f70",
      "name": "Set Base"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1v2urk2p3OLGwyQU9lasYD9ffbDFQnyp4F1wdUgxPYlc",
          "mode": "list",
          "cachedResultName": "R39 | 100 Ads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1v2urk2p3OLGwyQU9lasYD9ffbDFQnyp4F1wdUgxPYlc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1v2urk2p3OLGwyQU9lasYD9ffbDFQnyp4F1wdUgxPYlc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "index": "={{ $('Get Rows to Create').item.json.index }}",
            "status": "done",
            "file_name": "={{ $json.name }}"
          },
          "matchingColumns": [
            "index"
          ],
          "schema": [
            {
              "id": "index",
              "displayName": "index",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ad_copy",
              "displayName": "ad_copy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "visual_guide",
              "displayName": "visual_guide",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "1_color",
              "displayName": "1_color",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "2_color",
              "displayName": "2_color",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "3_color",
              "displayName": "3_color",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "file_name",
              "displayName": "file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1216,
        560
      ],
      "id": "2bbd6bcc-4295-4de4-814f-f9a7316aac24",
      "name": "Update Row as Done",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kyZpZ72Pl8dphEXk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1v2urk2p3OLGwyQU9lasYD9ffbDFQnyp4F1wdUgxPYlc",
          "mode": "list",
          "cachedResultName": "R39 | 100 Ads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1v2urk2p3OLGwyQU9lasYD9ffbDFQnyp4F1wdUgxPYlc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1v2urk2p3OLGwyQU9lasYD9ffbDFQnyp4F1wdUgxPYlc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "index": "={{ $('Get Rows to Create').item.json.index }}",
            "status": "error",
            "file_name": "={{ $('Nanobanana').item.json.choices[0].native_finish_reason }}"
          },
          "matchingColumns": [
            "index"
          ],
          "schema": [
            {
              "id": "index",
              "displayName": "index",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ad_copy",
              "displayName": "ad_copy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "visual_guide",
              "displayName": "visual_guide",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "1_color",
              "displayName": "1_color",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "2_color",
              "displayName": "2_color",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "3_color",
              "displayName": "3_color",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "file_name",
              "displayName": "file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1216,
        752
      ],
      "id": "7d14a18c-33b3-4aff-bf04-f60d8fbdbe5c",
      "name": "Update Row as Error",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kyZpZ72Pl8dphEXk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"google/gemini-2.5-flash-image-preview:free\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"{{ $json.output.image_prompt.replace(/\\\"/g, '\\\\\\\"').replace(/\\n/g, '\\\\n') }}\"\n        },\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": \"https://api.telegram.org/file/bot{{ $('Set Bot ID').first().json['bot id'] }}/{{ $('Get Img Path').first().json.result.file_path }}\"\n          }\n        }\n      ]\n    }\n  ]\n}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 4000
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        592,
        560
      ],
      "id": "f14cf837-5b50-4837-9176-41c1155ba9b9",
      "name": "Nanobanana"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Your task: Create 1 image prompt as guided by your system guidelines.\n\n\n***\n\nThe user's special request:\n{{ $('Telegram Trigger').first().json.message.caption }}\n\n***\nDescription of the reference image:\n{{ $('Describe Img').first().json.choices[0].message.content }}\n\n\n**  \nELEMENTS FOR THIS IMAGE:\n\nproduct: {{ $json.product }}\n\ncharacter: {{ $json.character }}\n\nad copy: {{ $json.ad_copy }}\n\nvisual_guide: {{ $json.visual_guide }}  \n\ntext_watermark: {{ $json.text_watermark }}\n\nPrimary color: {{ $json[\"1_color\"] }}  \nSecondary color: {{ $json[\"2_color\"] }}  \nTertiary color: {{ $json[\"3_color\"] }}  \n\n\n\n***\nUse the Think tool to double check your output for this run\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=system_prompt: |\n  ## SYSTEM PROMPT: 🍳 Image Ad Prompt Generator Agent\n\n🟠 A – Ask:\n    Create exactly 1 structured image ad prompt with all required fields filled.\n\nThe final prompt should be written like this:\n\n\"\"\"\nMake an image ad for this product with the following elements. The product looks exactly like what's in the reference image.\n\nproduct: \ncharacter: \nad_copy: \nvisual_guide: \ntext_watermark: \ntext_watermark_location: \nPrimary color of ad:\nSecondary color of ad: \nTertiary color of ad: \n\n\"\"\"\"\n\n\n🟠 G – Guidance:\n    role: Creative ad prompt engineer\n    output_count: 1\n\n    constraints: \n      - Always include all required fields.\n      - Integrate the user's special request as faithfully as you can in the final image prompt\n      - If user input is missing, apply smart defaults:\n        • text_watermark_location → \"bottom left of screen\"\n        • primary_color → say \"decide based on the image provided\"\n        • secondary_color → say \"decide based on the image provided\"\n        • tertiary_color → say \"decide based on the image provided\"\n        • font_style → say \"decide based on the image provided\"\n        • ad_copy → keep short, punchy, action-oriented (max 7 words)\n\n      - If ad copy is set to null, none, no text, or something similar, then do not include an ad copy text in the final image.\n\n\n      - If text_watermark is set to null, none, no text, or something similar, then do not include a watermark text in the final image.\n\n      - NEVER include any extra text apart from the ad copy and watermark unless specified by the user. \n\n      - NEVER alter the color or any part of the product sent\n\n      - If a design peg is provided by the user, adjust the colors in their description to fit the color palette provided by the user\n\n\n\n\n\n\n🟠 E – Examples:\n     good_examples:\n      - character: (as defined by the user)\n        ad_copy: (as defined by the user, or decide on your own if not provided)\n        visual_guide: (as defined by the user. If the user's special request is detailed, expand this portion to accommodate their request. Make sure the color palette that is provided is respected even in this portion. If the request involves a human character, define the camera angle and camera used.  If no visual guide is given, describe placement of the character and how big they are relative to the image; describe what they're doing with the product; describe the style of the ad, describe the main color of the background and the main color of the text.)\n        text_watermark: (as defined by the user, leave blank if none provided)\n        text_watermark_location: (as defined by the user, or bottom left if none provided)\n        primary_color: (as defined by the user)\n        secondary_color: (as defined by the user)\n        tertiary_color: (as defined by the user)\n\n\n\n🟠 N – Notation:\n    format: text string nested within an \"image_prompt\" parameter. Avoid using double-quotes or new line breaks\n    example_output: |\n      {\n        \"image_prompt: \"final prompt here\"\n      }\n\n\n\n🟠 T – Tools:\n    - Think Tool: Use this to reflect and reason before responding.",
          "batching": {
            "batchSize": 1,
            "delayBetweenBatches": 3000
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        592,
        352
      ],
      "id": "b6670326-14a1-4a8a-9ade-d08faf586834",
      "name": "splitRobo AI Agent"
    }
  ],
  "pinData": {},
  "connections": {
    "Convert to File": {
      "main": [
        [
          {
            "node": "Upload a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Row as Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Set Bot ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Img Path": {
      "main": [
        [
          {
            "node": "Describe Img",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Describe Img": {
      "main": [
        [
          {
            "node": "Tell User WIP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT": {
      "ai_languageModel": [
        [
          {
            "node": "splitRobo AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "splitRobo AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Upload a file": {
      "main": [
        [
          {
            "node": "Update Row as Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Bot ID": {
      "main": [
        [
          {
            "node": "Get Img Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tell User WIP": {
      "main": [
        [
          {
            "node": "Get Rows to Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Rows to Create": {
      "main": [
        [
          {
            "node": "splitRobo AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output": {
      "ai_outputParser": [
        [
          {
            "node": "splitRobo AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Set Base": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Row as Done": {
      "main": [
        [
          {
            "node": "Tell User Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nanobanana": {
      "main": [
        [
          {
            "node": "Set Base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "splitRobo AI Agent": {
      "main": [
        [
          {
            "node": "Nanobanana",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3d06f552-535d-4f88-866c-1fcce3e0abdb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fe6e173f6300bff52e48d888cf0730ef700de74a69056691a340b465104c1bab"
  },
  "id": "9CZvgjRHr8CEemq3",
  "tags": []
}