n30_product_videography/n30 _ Product Videography (by RoboNuggets) (1).json
{
  "name": "n30 | Product Videography (by RoboNuggets)",
  "nodes": [
    {
      "parameters": {
        "path": "78302243-a5e1-4e38-b0da-3bcdbc0b15b9",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -16,
        144
      ],
      "id": "ceeeaf51-e97f-498f-9be4-26bff0bd243f",
      "name": "Webhook",
      "webhookId": "78302243-a5e1-4e38-b0da-3bcdbc0b15b9"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appDWQHXq1MuMJLJZ",
          "mode": "list",
          "cachedResultName": "n30 Product Videography",
          "cachedResultUrl": "https://airtable.com/appDWQHXq1MuMJLJZ"
        },
        "table": {
          "__rl": true,
          "value": "tblYiND5DkrZhIlLq",
          "mode": "list",
          "cachedResultName": "Project",
          "cachedResultUrl": "https://airtable.com/appDWQHXq1MuMJLJZ/tblYiND5DkrZhIlLq"
        },
        "filterByFormula": "=RECORD_ID() = \"{{ $json.query.recordId }}\" ",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        112,
        144
      ],
      "id": "4ccece91-b9a4-4496-af96-52150c32053a",
      "name": "Get Project",
      "credentials": {
        "airtableTokenApi": {
          "id": "Gik7e1Ksb0K9anPI",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['Creative Direction'] !== undefined && $json.start_image_prompt === undefined }}",
                    "rightValue": "=",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "0a246b26-3ae9-441a-8a80-b5fbb3161221"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Prompt"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5ef529ed-35e7-4ca6-a990-fd1daa3216e4",
                    "leftValue": "={{ $json.start_image_prompt !== undefined && (!$json.start_image || !$json.start_image[0] || !$json.start_image[0].url) }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a45cae87-a579-48a2-ab74-c9fb191e9e55",
                    "leftValue": "={{ $json.start_image[0].url }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Video"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        240,
        128
      ],
      "id": "dfaaa4c6-79d0-4ecc-83d7-e404815d6585",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appDWQHXq1MuMJLJZ",
          "mode": "list",
          "cachedResultName": "n30 Product Videography",
          "cachedResultUrl": "https://airtable.com/appDWQHXq1MuMJLJZ"
        },
        "table": {
          "__rl": true,
          "value": "tblYiND5DkrZhIlLq",
          "mode": "list",
          "cachedResultName": "Project",
          "cachedResultUrl": "https://airtable.com/appDWQHXq1MuMJLJZ/tblYiND5DkrZhIlLq"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Get Project').item.json.id }}",
            "start_image_prompt": "={{ $json.output.starting_image_prompt }}",
            "end_image_prompt": "={{ $json.output.ending_image_prompt }}",
            "transition_prompt": "={{ $json.output.transition_prompt }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Project Name",
              "displayName": "Project Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Image 1",
              "displayName": "Image 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Image 2",
              "displayName": "Image 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Creative Direction",
              "displayName": "Creative Direction",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "aspect_ratio",
              "displayName": "aspect_ratio",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "9:16",
                  "value": "9:16"
                },
                {
                  "name": "16:9",
                  "value": "16:9"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Generate Next",
              "displayName": "Generate Next",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Generate",
              "displayName": "Generate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "start_image_prompt",
              "displayName": "start_image_prompt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "end_image_prompt",
              "displayName": "end_image_prompt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "transition_prompt",
              "displayName": "transition_prompt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "start_image",
              "displayName": "start_image",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "end_image",
              "displayName": "end_image",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "scene_video",
              "displayName": "scene_video",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "music_prompt",
              "displayName": "music_prompt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "music file 1",
              "displayName": "music file 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "music file 2",
              "displayName": "music file 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1216,
        -32
      ],
      "id": "46e9b56b-4bcc-446a-a00f-669c3d0214d0",
      "name": "Log Visual Prompts",
      "credentials": {
        "airtableTokenApi": {
          "id": "Gik7e1Ksb0K9anPI",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        800,
        -192
      ],
      "id": "6be1813d-26fa-4594-8130-83ff43bb8ec5",
      "name": "Think"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\nThe user's creative direction:\n{{ $('Get Project').item.json['Creative Direction'] }}\n\n\n***\n\n\nThe user's product:\n{{ $json.candidates[0].content.parts[0].text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=system_prompt: |\n  ## 🎥 SYSTEM PROMPT: Cinematic Product Videography Generator\n\n  A – Ask:\n    Your purpose is to generate highly cinematic product videography prompts.\n    You will be given one or more product images and must output:\n      - One **starting_image_prompt** as a single YAML block (multi-line) with all required fields.\n      - One **ending_image_prompt** as a single string containing two keys (Prompt, Camera).\n      - One **transition_prompt** as a single string containing three keys (Camera, Movement, Action).\n\n  G – Guidance:\n    role: High-end commercial cinematographer and macro product visual director  \n    output_count: 1  \n    constraints:\n      - Do NOT generate scripts or music prompts.\n      - Only ONE scene is returned.\n      - All three prompts must appear as **single fields** — no nested JSON structures.\n      - The final JSON must use this structure:\n        • scene  \n        • starting_image_prompt (YAML block inside one string)  \n        • ending_image_prompt (string with Prompt + Camera)  \n        • transition_prompt (string with Camera + Movement + Action)\n\n      🖼️ Starting Image Prompt Requirements:\n        - Must be written in YAML format using **multi-line block (`|`) values**.\n        - Must include the following keys, each with a detailed paragraph-style description:\n            Composition  \n            Lighting  \n            Environment  \n            Action  \n            Refinements  \n            Camera  \n            Aesthetic  \n            Mood\n        - Tone: high-end cinematic macro product photography & videography.\n        - Visual emphasis:\n            • Material fidelity  \n            • Studio-grade lighting  \n            • Premium commercial cinematography  \n        - The final JSON must present ALL of this as **one continuous YAML block string**, NOT a nested object.\n\n      🎯 Ending Image Prompt Format (Integrated Rules):\n        - Must be **one string** with **two keys on separate lines**:\n            Prompt: [short, framing-only description]  \n            Camera: [final framing]\n        - Must be very short (1–2 sentences total).\n        - Must describe ONLY the change in framing or field of view (e.g., tighter, more macro, narrower FOV).\n        - Must reference the initial frame as **“reference image”**.\n        - Must **NOT**:\n            • describe camera movement  \n            • describe dramatic actions  \n            • modify or alter the product  \n            • introduce storytelling elements  \n        - The product must remain **unchanged**.\n\n      🎞️ Transition Prompt Format (Integrated Rules):\n        - Must be **one string** with **three keys on separate lines**:\n            Camera: [cinematic Hollywood camera movement term]  \n            Movement: [description of motion style]  \n            Action: [product remains static]\n        - Must use ONLY cinematic camera terminology (dolly-in, linear dolly, slow push, macro drift).\n        - Must emphasize **slowness** and **precise, controlled movement**.\n        - Must NOT:\n            • describe product motion  \n            • introduce story language or dramatic metaphors  \n            • refer to unveiling, revealing, or emotional tone  \n        - “Action” should default to **“product remains static”** unless user explicitly instructs otherwise.\n\n  E – Examples:\n    good_examples:\n      - Rich, cinematic macro setups with extremely detailed materials, reflections, lens behaviors.\n      - Clear, technically correct language for lighting, optics, camera moves, and physical materials.\n    bad_examples:\n      - Nested JSON structures.\n      - Product transformation or alteration unless explicitly requested.\n      - Overly poetic, dramatic, or vague phrasing.\n\n  N – Notation:\n    format: JSON\n    example_output: |\n      {\n        \"scene\": \"Scene 1 - Metallic Geometry\",\n        \"starting_image_prompt\": \"Composition: |\\n  Extreme close-up macro shot centered on an interlocking metallic structure...\\nLighting: |\\n  High-intensity studio lighting with crisp specular highlights...\\nEnvironment: |\\n  A clean, industrial tabletop environment...\\nAction: |\\n  Static macro presentation...\\nRefinements: |\\n  Micro-scratches, mirror-like reflections, physical metal shader nuance...\\nCamera: |\\n  Full-frame digital cinema macro setup with 100–120mm lens at f/2.8...\\nAesthetic: |\\n  Hyperrealistic, photoreal macro tech aesthetic...\\nMood: |\\n  Sleek, engineered, futuristic...\",\n        \"ending_image_prompt\": \"Prompt: Final image is a tighter macro close-up of the reference image with a narrower field of view.\\nCamera: tight close-up / macro framing\",\n        \"transition_prompt\": \"Camera: slow, linear dolly-in\\nMovement: controlled, continuous studio push\\nAction: product remains static\"\n      }\n\n  T – Tools:\n    - Think Tool: Use this to reflect and reason before responding.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        736,
        -32
      ],
      "id": "1ffd55dc-6b35-428d-abd8-f7079b9d1290",
      "name": "AI Agent by RoboNuggets"
    },
    {
      "parameters": {
        "model": "google/gemini-3-pro-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        672,
        -176
      ],
      "id": "fd9b5fbc-c985-40d2-98ce-0d5719b2c7a9",
      "name": "Model",
      "credentials": {
        "openRouterApi": {
          "id": "hmP48RU4dJfJaaSV",
          "name": "OpenRouter account 3"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"scene\": \"Scene 1 - [Title]\",\n  \"starting_image_prompt\": \"A SINGLE YAML BLOCK WITH ALL 8 FIELDS\",\n  \"ending_image_prompt\": \"Prompt: ...\\nCamera: ...\",\n  \"transition_prompt\": \"Camera: ...\\nMovement: ...\\nAction: ...\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        928,
        -176
      ],
      "id": "87543cef-e619-4b95-84da-b7c8567f29e5",
      "name": "Structure"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3-pro-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3-pro-preview"
        },
        "text": "Please look at this image and describe it in detail. What is shown in the character section, the setting section, and the product section? Explain what you see in each part so the image can be fully translated into text.",
        "imageUrls": "={{ $json['Image 1'][0].url }}",
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        480,
        -32
      ],
      "id": "47d10418-1ad5-4ce1-b83e-971cebdc9c34",
      "name": "Analyze image",
      "credentials": {
        "googlePalmApi": {
          "id": "Uf69yXezkjIZP6Ah",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.wavespeed.ai/api/v3/google/nano-banana-pro/edit",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"aspect_ratio\": \"{{ $json.aspect_ratio }}\",\n  \"enable_base64_output\": false,\n  \"enable_sync_mode\": true,\n \n  \"output_format\": \"png\",\n  \"prompt\": {{ JSON.stringify($json.start_image_prompt)}},\n  \"resolution\": \"2k\",\n  \"images\": [\"{{ $('Get Project').item.json['Image 1'][0].url }}\", \"{{ $('Get Project').item.json['Image 2'][0].url }}\"]\n\n}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 2000
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        144
      ],
      "id": "2e41b932-ecf6-40a8-b6eb-ad0434143095",
      "name": "Start frame 🍌",
      "credentials": {
        "httpHeaderAuth": {
          "id": "IZqnM1MEeUfWcob3",
          "name": "WaveSpeed Credentials"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.wavespeed.ai/api/v3/google/nano-banana-pro/edit",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=\n\n{\n  \"aspect_ratio\": \"{{ $('Switch').item.json.aspect_ratio }}\",\n  \"enable_base64_output\": false,\n  \"enable_sync_mode\": true,\n \n  \"output_format\": \"png\",\n  \"prompt\": {{ JSON.stringify($('Get Project').item.json.end_image_prompt) }},\n  \"resolution\": \"2k\",\n  \"images\": [\"{{ $json.data.outputs[0] }}\"]\n\n\n}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        144
      ],
      "id": "0af28256-d21d-4a57-a726-abce987a8129",
      "name": "End frame 🍌",
      "credentials": {
        "httpHeaderAuth": {
          "id": "IZqnM1MEeUfWcob3",
          "name": "WaveSpeed Credentials"
        }
      }
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        688,
        320
      ],
      "id": "ce9b3bc3-f2fd-4644-81f0-f4493b968169",
      "name": "Wait",
      "webhookId": "62a14d78-cf11-465e-8a67-b8fe5c36d233"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/veo/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"prompt\": {{ JSON.stringify($json.transition_prompt) }}\n\n,\n\n  \"model\": \"veo3_fast\",\n  \"aspectRatio\": \"{{ $('Get Project').item.json.aspect_ratio }}\",\n  \"enableTranslation\": false,\n\n  \"generationType\": \"FIRST_AND_LAST_FRAMES_2_VIDEO\",\n  \"imageUrls\": [\"{{ $json.start_image[0].url }}\",\"{{ $json.end_image[0].url }}\"]\n\n}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 3000
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        320
      ],
      "id": "61d71d6f-bc58-4358-ae65-99d88eb7a98a",
      "name": "Create Video 🔻",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GY8EwBg1KMzSwh9X",
          "name": "Kie AI Credential"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/veo/record-info",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $('Create Video 🔻').item.json.data.taskId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        320
      ],
      "id": "7706be36-1ee5-4f2b-b79d-0839e28f12c6",
      "name": "Get Video 🔻",
      "alwaysOutputData": false,
      "retryOnFail": false,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "GY8EwBg1KMzSwh9X",
          "name": "Kie AI Credential"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.successFlag }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "957f40c4-00b8-4caa-9bd7-065dcaf2cb49"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "success"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "52ad92ea-901f-4af8-a462-84b045dd2803",
                    "leftValue": "={{ $json.data.successFlag }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "in progress"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        912,
        320
      ],
      "id": "ede466a2-b40a-46a5-9e11-abe85e7680b8",
      "name": "Switch1"
    },
    {
      "parameters": {
        "content": "## Create Prompts",
        "width": 256
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1344,
        -48
      ],
      "id": "cd1308c3-3d51-4ef5-bfe9-24f4a7b0365d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Create Images",
        "width": 256,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1344,
        128
      ],
      "id": "ffeead19-bba7-4d31-9bdd-569d6e3dc3f9",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Create Videos",
        "width": 256,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1344,
        304
      ],
      "id": "9d6352cb-ca6e-4dc2-bf6f-38f8c094a703",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appDWQHXq1MuMJLJZ",
          "mode": "list",
          "cachedResultName": "n30 Product Videography",
          "cachedResultUrl": "https://airtable.com/appDWQHXq1MuMJLJZ"
        },
        "table": {
          "__rl": true,
          "value": "tblYiND5DkrZhIlLq",
          "mode": "list",
          "cachedResultName": "Project",
          "cachedResultUrl": "https://airtable.com/appDWQHXq1MuMJLJZ/tblYiND5DkrZhIlLq"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Get Project').item.json.id }}",
            "start_image": "= [   {     \"url\": \"{{ $('Start frame 🍌').item.json.data.outputs[0] }}\"   } ]",
            "end_image": "= [   {     \"url\": \"{{ $json.data.outputs[0] }}\"   } ]"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Project Name",
              "displayName": "Project Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Image 1",
              "displayName": "Image 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Image 2",
              "displayName": "Image 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Creative Direction",
              "displayName": "Creative Direction",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "aspect_ratio",
              "displayName": "aspect_ratio",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "9:16",
                  "value": "9:16"
                },
                {
                  "name": "16:9",
                  "value": "16:9"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Generate Next",
              "displayName": "Generate Next",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "start_image_prompt",
              "displayName": "start_image_prompt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "end_image_prompt",
              "displayName": "end_image_prompt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "transition_prompt",
              "displayName": "transition_prompt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "music_prompt",
              "displayName": "music_prompt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "start_image",
              "displayName": "start_image",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "end_image",
              "displayName": "end_image",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "scene_video",
              "displayName": "scene_video",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "music file 1",
              "displayName": "music file 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "music file 2",
              "displayName": "music file 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1216,
        144
      ],
      "id": "d3786457-fee9-4461-a5be-e0042db3631a",
      "name": "Log Images",
      "credentials": {
        "airtableTokenApi": {
          "id": "Gik7e1Ksb0K9anPI",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appDWQHXq1MuMJLJZ",
          "mode": "list",
          "cachedResultName": "n30 Product Videography",
          "cachedResultUrl": "https://airtable.com/appDWQHXq1MuMJLJZ"
        },
        "table": {
          "__rl": true,
          "value": "tblYiND5DkrZhIlLq",
          "mode": "list",
          "cachedResultName": "Project",
          "cachedResultUrl": "https://airtable.com/appDWQHXq1MuMJLJZ/tblYiND5DkrZhIlLq"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Get Project').item.json.id }}",
            "scene_video": "= [   {     \"url\": \"{{ $json.data.response.resultUrls[0] }}\"   } ]"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Project Name",
              "displayName": "Project Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Image 1",
              "displayName": "Image 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Image 2",
              "displayName": "Image 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Creative Direction",
              "displayName": "Creative Direction",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "aspect_ratio",
              "displayName": "aspect_ratio",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "9:16",
                  "value": "9:16"
                },
                {
                  "name": "16:9",
                  "value": "16:9"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Generate Next",
              "displayName": "Generate Next",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "start_image_prompt",
              "displayName": "start_image_prompt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "end_image_prompt",
              "displayName": "end_image_prompt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "transition_prompt",
              "displayName": "transition_prompt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "music_prompt",
              "displayName": "music_prompt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "start_image",
              "displayName": "start_image",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "end_image",
              "displayName": "end_image",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "scene_video",
              "displayName": "scene_video",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "music file 1",
              "displayName": "music file 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "music file 2",
              "displayName": "music file 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1216,
        304
      ],
      "id": "0644e0a1-8af8-459e-ac62-4587e6eac8c5",
      "name": "Log VIdeos",
      "credentials": {
        "airtableTokenApi": {
          "id": "Gik7e1Ksb0K9anPI",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "content": "# INPUT Section",
        "height": 288,
        "width": 400,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -16,
        368
      ],
      "id": "0df8a8b9-6165-41ee-9f71-cfbc0e9d3c40",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# CREATE Section",
        "height": 128,
        "width": 768,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        400,
        528
      ],
      "id": "9f115145-12c0-42c3-81d0-cab53149b058",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "# OUTPUT Section",
        "height": 176,
        "width": 432,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1184,
        480
      ],
      "id": "4fd0f4d9-c976-45ba-9d5c-205e4063e5ef",
      "name": "Sticky Note5"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Project": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Visual Prompts": {
      "main": [
        []
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent by RoboNuggets",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent by RoboNuggets": {
      "main": [
        [
          {
            "node": "Log Visual Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent by RoboNuggets",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structure": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent by RoboNuggets",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "AI Agent by RoboNuggets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Start frame 🍌",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Video 🔻",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start frame 🍌": {
      "main": [
        [
          {
            "node": "End frame 🍌",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "End frame 🍌": {
      "main": [
        [
          {
            "node": "Log Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Video 🔻",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Video 🔻": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video 🔻": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Log VIdeos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "89c23551-c5f9-41dd-aa9e-b35b43285ea0",
  "meta": {
    "instanceId": "addaa68bf5af965c06c3765c811549851eb65db8df4677e0c6253726ffcac493"
  },
  "id": "TuPWQZ1wpdtbhK4p",
  "tags": []
}