n21_infinite_ugcs/🍳 Create Image (Seedream 4.0 via Kie AI).json
{
  "name": "🍳 Create Image (Seedream 4.0 via Kie AI)",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"bytedance/seedream-v4-edit\",\n  \"input\":{\n  \"prompt\": {{ JSON.stringify($json.image_prompt) }},\n  \"image_urls\": [\"{{ $json.image_reference }}\"\n  ],\n  \"image_size\": \"{{ $json.aspect_ratio === \"9:16\" ? \"portrait_16_9\" : ($json.aspect_ratio === \"16:9\" ? \"landscape_16_9\" : $json.aspect_ratio) }}\",\n  \"image_resolution\": \"4K\"\n}\n\n\n}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1152,
        592
      ],
      "id": "ed440a0a-71e2-45cc-a2da-392614f43082",
      "name": "Create Image",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GY8EwBg1KMzSwh9X",
          "name": "Kie AI Credential"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $('Create Image').item.json.data.taskId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1648,
        592
      ],
      "id": "486bb6d3-707e-4f1a-ab34-967730124777",
      "name": "Get Image",
      "alwaysOutputData": true,
      "retryOnFail": false,
      "waitBetweenTries": 5000,
      "executeOnce": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "GY8EwBg1KMzSwh9X",
          "name": "Kie AI Credential"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1392,
        592
      ],
      "id": "39bb962e-b597-4242-a262-123d40c28546",
      "name": "Wait2",
      "webhookId": "c10e3fd5-1247-4e35-9c13-9cce5e3f0796"
    },
    {
      "parameters": {
        "content": "# Create Image (Seedream 4.0 🎵 via Kie AI)\n### by Jay E from RoboNuggets🥚",
        "height": 96,
        "width": 752,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1200,
        464
      ],
      "id": "fb1192d6-46c5-4860-a17f-0ad1410d1318",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "image_prompt"
            },
            {
              "name": "image_reference"
            },
            {
              "name": "aspect_ratio"
            }
          ]
        }
      },
      "id": "ce796c1e-ff4d-458d-9d8c-5e4f57f7ad6f",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        880,
        592
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "success",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "bf05a398-eb00-4e25-8de6-3ae7d10e69dd"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "success"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4686d0f8-4428-4d81-9c40-c9d56b69ab02",
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "ing",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "in progress"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "error"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1888,
        576
      ],
      "id": "533a74d6-aad7-4192-9bb2-7a215ff77324",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ea52740c-ba3b-4a73-82ee-2b7a0b9d7e01",
              "name": "image_result",
              "value": "={{ $json.data.failMsg }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2128,
        704
      ],
      "id": "6d8893cf-4c33-4620-927e-58ff1e648bdd",
      "name": "Return error"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ea52740c-ba3b-4a73-82ee-2b7a0b9d7e01",
              "name": "image_result",
              "value": "={{ JSON.parse($json.data.resultJson).resultUrls[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2128,
        512
      ],
      "id": "3079a0fd-b4a5-4620-b3d4-ed2f65c9af3a",
      "name": "Return image"
    }
  ],
  "pinData": {},
  "connections": {
    "Create Image": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Get Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Create Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Return image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f4b05d97-3060-4908-8e6b-294d04c8fd34",
  "meta": {
    "instanceId": "addaa68bf5af965c06c3765c811549851eb65db8df4677e0c6253726ffcac493"
  },
  "id": "ZB7YlEPrgXU2LO7p",
  "tags": [
    {
      "createdAt": "2025-09-18T04:37:56.825Z",
      "updatedAt": "2025-09-18T04:37:56.825Z",
      "id": "RZawoKjs9UYrscqp",
      "name": "n21"
    }
  ]
}