n21_infinite_ugcs/🍳 Create Video (Veo3-fast via Kie AI).json
{
  "name": "🍳 Create Video (Veo3-fast via Kie AI)",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/veo/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"prompt\":{{ JSON.stringify($json.video_prompt) }},\n  \"model\": \"veo3_fast\",\n  \"aspectRatio\": \"{{ $json.aspect_ratio }}\",\n  \"imageUrls\": \"{{ $json.image_reference }}\",\n  \"enableFallback\": true,\n  \"enableTranslation\": false\n}\n\n\n",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -432,
        1120
      ],
      "id": "ed2e2fbf-807e-4bd8-bcec-1afb34a4a201",
      "name": "Create Video",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GY8EwBg1KMzSwh9X",
          "name": "Kie AI Credential"
        }
      }
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -272,
        1120
      ],
      "id": "e76fbd9b-21d3-4e79-909e-4e02958e2dfb",
      "name": "Wait 2",
      "webhookId": "6831d9a2-576d-49cb-8f28-4faeeae50b14"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/veo/record-info",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $('Create Video').item.json.data.taskId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -80,
        1120
      ],
      "id": "a7a7378d-ffa7-4ace-bfda-025906e7bc0a",
      "name": "Get Video",
      "alwaysOutputData": true,
      "retryOnFail": false,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "GY8EwBg1KMzSwh9X",
          "name": "Kie AI Credential"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "92155caa-4151-415e-a940-b1c0eaef6ca6",
              "name": "video_result",
              "value": "={{ $json.data.response.resultUrls[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        992
      ],
      "id": "32f37052-ab8d-4dc0-8310-653f3078000e",
      "name": "Return"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "video_prompt"
            },
            {
              "name": "aspect_ratio"
            },
            {
              "name": "image_reference"
            }
          ]
        }
      },
      "id": "a0bd42d7-49c7-433c-8311-006b06965d47",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -672,
        1120
      ]
    },
    {
      "parameters": {
        "content": "# Create Video  (Veo3-Fast via Kie AI)\n### by Jay E from RoboNuggets🥚",
        "height": 96,
        "width": 752,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -464,
        960
      ],
      "id": "b305f02e-dc90-4f7e-b129-48d0a0dfce02",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.successFlag }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "957f40c4-00b8-4caa-9bd7-065dcaf2cb49"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "success"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "52ad92ea-901f-4af8-a462-84b045dd2803",
                    "leftValue": "={{ $json.data.successFlag }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "in progress"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "error"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        128,
        1104
      ],
      "id": "de22537f-d1a9-43c5-b8c1-520e20f90293",
      "name": "Switch 2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ea52740c-ba3b-4a73-82ee-2b7a0b9d7e01",
              "name": "video_result",
              "value": "={{ $json.data.errorMessage }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        1264
      ],
      "id": "734db27d-ac8e-448f-b6b3-c73076592739",
      "name": "Return error"
    }
  ],
  "pinData": {},
  "connections": {
    "Create Video": {
      "main": [
        [
          {
            "node": "Wait 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2": {
      "main": [
        [
          {
            "node": "Get Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video": {
      "main": [
        [
          {
            "node": "Switch 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Create Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch 2": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b19b016e-0ac6-45d8-b27d-ae51b514bc84",
  "meta": {
    "instanceId": "addaa68bf5af965c06c3765c811549851eb65db8df4677e0c6253726ffcac493"
  },
  "id": "iv7ClNQ0l2HRdyi0",
  "tags": []
}